@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Montserrat:700);

// VARIABLES //////////////////////////

$serif: 'Merriweather', serif;
$sans-serif: 'Montserrat', sans-serif;

$black: #222;
$cloud-white: #E9E9E9;
$primary-colour: #E8B730;

$mobile: 640px;
$tablet: 768px;

// MIXINS /////////////////////////////

%clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

// MAIN //////////////////////////////

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $serif;
  background: #eee;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @extend %clearfix;
}

.header {
  margin-bottom: 40px;
  padding: 80px 0;
  text-align: center;
  background: $black;

  .logo {
    margin: 0;
    font-family: $sans-serif;
    font-size: 3em;
    color: $cloud-white;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .tagline {
    color: #888;
    font-size: 0.9em;
    margin: 0;

    a {
      color: #888;
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 1px solid rgba(#888, 0);
      transition: all 0.3s ease-in-out;

      &:hover {
        padding-bottom: 0;
        border-bottom: 1px solid rgba(#888, 1);
      }
    }
  }

  .add-form {
    margin: 60px auto 0;
    width: 80%;

    .task-input {
      width: 80%;
      height: 50px;
      border: 0;
      font-family: $serif;
      font-size: 1.3em;
      font-style: italic;
      padding: 0 20px;
    }

    .task-add {
      width: 20%;
      height: 50px;
      border: 0;
      background: $primary-colour;
      color: white;
      font-family: $serif;
      font-style: italic;
      font-size: 1.4em;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: darken($primary-colour, 10%);
      }
    }
  }
}

.completed{
  text-decoration: line-through;
  color: #aaa;
}
 
.tasks{
  padding:0;
  list-style:none;
}
 
.task{
  position:relative;
  font-size: 0.9em;
  padding: 5px 0 5px 26px;
  border-bottom: 1px solid #eee;
  font-weight: 400;
}
 
form.update{
  position:absolute;
  bottom:7px;
  left:0;
}
form.update input{
  background:white;
  color:white;
  padding:0 2px;
  border: solid 1px gray;
  cursor:pointer;
}
 
.tasks li.completed form.update input{
  color: $primary-colour;

  border: solid 1px #e1e1e1;
}
 
.new {
  margin-bottom: 12px;
  input[type="text"] {
    width: 100%;
  }
}
form.delete{
  display:inline;
}
   
form.delete input{
  background:none;
  cursor:pointer;
  border:none;
}

.lists{
  padding:0;
  list-style:none;
  overflow:hidden;

  h2 {
    font-size: 1.1em;
    margin: 6px 0 12px;
  }
}
   
.list{
  float: left;
  width: 29.3%;
  margin: 0 1% 10px;
  padding: 10px;
  // border-top: solid 5px #ccc;
  background: white;
  box-shadow: 0px 0px 10px rgba(#d1d1d1, 0);
  transition: all 0.3s ease-in-out;

  &:hover {
    // margin-top: -1px;
    box-shadow: 0px 3px 10px rgba(#d1d1d1, 1);
  }
}

.footer {
  text-align: center;
  font-size: 0.9em;
  color: #999;
}